{% block content %}
  
    {% for artist in artists %}
        <div>
            <h3>Artist List</h3>
            <ul>
                <li>id: {{ artist.id }}</li>
                <li>Stage name: {{ artist.artist_name }}</li>
                <li>Social: {{ artist.social_link }}</li>
            </ul>

            <div>
                <h4>Albums:</h4>
                {% if artist.album_set.all %}
                    {% for album in artist.album_set.all %}
                        <ul>
                            <li>id: {{ album.id }}</li>
                            <li>Name: {{ album.album_name }}</li>
                            <li>Creation Time: {{ album.creation_datetime }}</li>
                            <li>Release datetime: {{ album.release_datetime }}</li>
                            <li>Cost: {{ album.cost }}</li>
                        </ul>
                        <hr>
                    {% endfor %}
                {% else %}
                    <p style="color: red;">No albums exist.</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <a href="{% url 'artist-create' %}">Create New Artist</a>
{% endblock %}

