{% extends 'mainpage.html' %}

{% block content %}
    <h1>Albums</h1>
    <br>
    {% for album in albums %}
        <ul>
            <li>ID: {{ album.id }}</li>
            <li>Album Name: {{ album.album_name }}</li>
            <li>Creation Time: {{ album.creation_datetime }}</li>
            <li>Release Date and Time: {{ album.release_datetime }}</li>
            <li>Cost: {{ album.cost }}</li>
            <li>Artist: {{ album.artist }}</li>
        </ul>
        <hr>
    {% endfor %}
    <a href="{% url 'create_album' %}">Create New Album</a>
{% endblock %}