<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Artist</title>
    </head>
    <body>

        <h2>Create Artist</h2>

        {% if form.errors %}
            <div style="color: red;">
                Please correct the following errors:
                {{ form.errors }}
            </div>
        {% endif %}

        <form method="post" action="{% url 'create_artist' %}">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Create</button>
        </form>
    </body>
</html>
